# MADJI NDOGO PART 3

Start by joining location to visits.

In [2]:
%load_ext sql

In [3]:
pip install jupysql --upgrade

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupysql in c:\users\pc\appdata\roaming\python\python311\site-packages (0.10.3)
Requirement already satisfied: prettytable in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (3.5.0)
Requirement already satisfied: sqlalchemy in c:\users\pc\appdata\roaming\python\python311\site-packages (from jupysql) (1.4.4)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (3.1.2)
Requirement already satisfied: sqlglot>=11.3.7 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (18.13.0)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (0.2.14)
Requirement already satisfied: jupysql-plugin in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jupysql) (0.2.5)
Requirement already satisfied: click in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (8.1.7)
Requirement already satisfied: pyyaml in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Requirement already satisfied: posthog in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (3.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from jinja2->jupysql) (2.1.1)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from prettytable->jupysql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from sqlalchemy->jupysql) (2.0.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from click->ploomber-core>=0.2.7->jupysql) (0.4.6)
Requirement already satisfied: requests<3.0,>=2.7 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%sql mysql+pymysql://root:ShUfFlEs%401999@localhost:3306/md_water_services

Connecting to 'mysql+pymysql://root:***@localhost:3306/md_water_services'

In [5]:
%%sql
SELECT * FROM md_water_services.visits
LIMIT 2;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

2 rows affected.

+-----------+-------------+--------------+---------------------+-------------+---------------+----------------------+
| record_id | location_id |  source_id   |    time_of_record   | visit_count | time_in_queue | assigned_employee_id |
+-----------+-------------+--------------+---------------------+-------------+---------------+----------------------+
|     0     |  SoIl32582  | SoIl32582224 | 2021-01-01 09:10:00 |      1      |       15      |          12          |
|     1     |  KiRu28935  | KiRu28935224 | 2021-01-01 09:17:00 |      1      |       0       |          46          |
+-----------+-------------+--------------+---------------------+-------------+---------------+----------------------+

Start by joining location to visits.

In [7]:
%%sql
SELECT
	l.province_name,
    l.town_name,
    v.visit_count,
    v.location_id
FROM
	visits AS v
JOIN
	location AS l
ON 
	v.location_id = l.location_id
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+---------------+-----------+-------------+-------------+
| province_name | town_name | visit_count | location_id |
+---------------+-----------+-------------+-------------+
|     Akatsi    |   Harare  |      1      |  AkHa00000  |
|     Akatsi    |   Harare  |      1      |  AkHa00001  |
|     Akatsi    |   Harare  |      1      |  AkHa00002  |
|     Akatsi    |   Harare  |      1      |  AkHa00003  |
|     Akatsi    |   Harare  |      1      |  AkHa00004  |
+---------------+-----------+-------------+-------------+

Now, we can join the water_source table on the key shared between water_source and visits.

In [9]:
%%sql

SELECT
	l.province_name,
    l.town_name,
    v.visit_count,
    v.location_id,
    ws.type_of_water_source,
    ws.number_of_people_served
FROM
	visits AS v
JOIN
	location AS l
ON 
	v.location_id = l.location_id
JOIN
	water_source AS ws
ON
	v.source_id = ws.source_id
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+---------------+-----------+-------------+-------------+----------------------+-------------------------+
| province_name | town_name | visit_count | location_id | type_of_water_source | number_of_people_served |
+---------------+-----------+-------------+-------------+----------------------+-------------------------+
|     Akatsi    |   Harare  |      1      |  AkHa00000  |     tap_in_home      |           956           |
|     Akatsi    |   Harare  |      1      |  AkHa00001  |  tap_in_home_broken  |           930           |
|     Akatsi    |   Harare  |      1      |  AkHa00002  |  tap_in_home_broken  |           486           |
|     Akatsi    |   Harare  |      1      |  AkHa00003  |         well         |           364           |
|     Akatsi    |   Harare  |      1      |  AkHa00004  |  tap_in_home_broken  |           942           |
+---------------+-----------+-------------+-------------+----------------------+-------------------------+

Note that there are rows where visit_count > 1. These were the sites our surveyors collected additional information for, but they happened at the
same source/location. For example, add this to your query: WHERE visits.location_id = 'AkHa00103'

In [10]:
%%sql

SELECT
	l.province_name,
    l.town_name,
    v.visit_count,
    v.location_id,
    ws.type_of_water_source,
    ws.number_of_people_served
FROM
	visits AS v
JOIN
	location AS l
ON 
	v.location_id = l.location_id
JOIN
	water_source AS ws
ON
	v.source_id = ws.source_id
WHERE 
    v.location_id = 'AkHa00103'
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+---------------+-----------+-------------+-------------+----------------------+-------------------------+
| province_name | town_name | visit_count | location_id | type_of_water_source | number_of_people_served |
+---------------+-----------+-------------+-------------+----------------------+-------------------------+
|     Akatsi    |   Harare  |      1      |  AkHa00103  |      shared_tap      |           3340          |
|     Akatsi    |   Harare  |      2      |  AkHa00103  |      shared_tap      |           3340          |
|     Akatsi    |   Harare  |      3      |  AkHa00103  |      shared_tap      |           3340          |
|     Akatsi    |   Harare  |      4      |  AkHa00103  |      shared_tap      |           3340          |
|     Akatsi    |   Harare  |      5      |  AkHa00103  |      shared_tap      |           3340          |
+---------------+-----------+-------------+-------------+----------------------+-------------------------+

There you can see what I mean. For one location, there are multiple AkHa00103 records for the same location. If we aggregate, we will include
these rows, so our results will be incorrect. To fix this, we can just select rows where visits.visit_count = 1.

In [11]:
%%sql

SELECT
	l.province_name,
    l.town_name,
    v.visit_count,
    v.location_id,
    ws.type_of_water_source,
    ws.number_of_people_served
FROM
	visits AS v
JOIN
	location AS l
ON 
	v.location_id = l.location_id
JOIN
	water_source AS ws
ON
	v.source_id = ws.source_id
WHERE 
    v.visit_count = 1
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+---------------+-----------+-------------+-------------+----------------------+-------------------------+
| province_name | town_name | visit_count | location_id | type_of_water_source | number_of_people_served |
+---------------+-----------+-------------+-------------+----------------------+-------------------------+
|     Sokoto    |   Ilanga  |      1      |  SoIl32582  |        river         |           402           |
|    Kilimani   |   Rural   |      1      |  KiRu28935  |         well         |           252           |
|    Hawassa    |   Rural   |      1      |  HaRu19752  |      shared_tap      |           542           |
|     Akatsi    |   Lusaka  |      1      |  AkLu01628  |         well         |           210           |
|     Akatsi    |   Rural   |      1      |  AkRu03357  |      shared_tap      |           2598          |
+---------------+-----------+-------------+-------------+----------------------+-------------------------+

Ok, now that we verified that the table is joined correctly, we can remove the location_id and visit_count columns.

Add the location_type column from location and time_in_queue from visits to our results set.

In [13]:
%%sql

SELECT
	l.province_name,
    l.town_name,
    ws.type_of_water_source,
    l.location_type,
    ws.number_of_people_served,
    v.time_in_queue
FROM
	visits AS v
JOIN
	location AS l
ON 
	v.location_id = l.location_id
JOIN
	water_source AS ws
ON
	v.source_id = ws.source_id
WHERE 
    v.visit_count = 1
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+---------------+-----------+----------------------+---------------+-------------------------+---------------+
| province_name | town_name | type_of_water_source | location_type | number_of_people_served | time_in_queue |
+---------------+-----------+----------------------+---------------+-------------------------+---------------+
|     Sokoto    |   Ilanga  |        river         |     Urban     |           402           |       15      |
|    Kilimani   |   Rural   |         well         |     Rural     |           252           |       0       |
|    Hawassa    |   Rural   |      shared_tap      |     Rural     |           542           |       62      |
|     Akatsi    |   Lusaka  |         well         |     Urban     |           210           |       0       |
|     Akatsi    |   Rural   |      shared_tap      |     Rural     |           2598          |       28      |
+---------------+-----------+----------------------+---------------+-------------------------+---------------+

Last one! Now we need to grab the results from the well_pollution table.
This one is a bit trickier. The well_pollution table contained only data for well. If we just use JOIN, we will do an inner join, so that only records
that are in well_pollution AND visits will be joined. We have to use a LEFT JOIN to join theresults from the well_pollution table for well
sources, and will be NULL for all of the rest. Play around with the different JOIN operations to make sure you understand why we used LEFT JOIN.

In [14]:
%%sql

SELECT
	ws.type_of_water_source,
	l.town_name,
	l.province_name,
	l.location_type,
	ws.number_of_people_served,
	v.time_in_queue,
	wp.results
FROM
	visits AS v
JOIN
	location AS l
ON 
	v.location_id = l.location_id
JOIN
	water_source AS ws
ON
	v.source_id = ws.source_id
LEFT JOIN
	well_pollution AS wp
ON
	v.source_id = wp.source_id
WHERE 
	v.visit_count = 1
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+----------------------+-----------+---------------+---------------+-------------------------+---------------+--------------------------+
| type_of_water_source | town_name | province_name | location_type | number_of_people_served | time_in_queue |         results          |
+----------------------+-----------+---------------+---------------+-------------------------+---------------+--------------------------+
|        river         |   Ilanga  |     Sokoto    |     Urban     |           402           |       15      |           None           |
|         well         |   Rural   |    Kilimani   |     Rural     |           252           |       0       | Contaminated: Biological |
|      shared_tap      |   Rural   |    Hawassa    |     Rural     |           542           |       62      |           None           |
|         well         |   Lusaka  |     Akatsi    |     Urban     |           210           |       0       | Contaminated: Biological |
|      shared_tap      |   Rural   |     Akatsi    |     Rural     |           2598          |       28      |           None           |
+----------------------+-----------+---------------+---------------+-------------------------+---------------+--------------------------+

So this table contains the data we need for this analysis. Now we want to analyse the data in the results set. We can either create a CTE, and then
query it, or in my case, I'll make it a VIEW so it is easier to share with you. I'll call it the combined_analysis_table.

In [46]:
%%sql
DROP VIEW IF EXISTS combined_analysis_table;
CREATE VIEW combined_analysis_table AS
SELECT
	ws.type_of_water_source,
	l.town_name,
	l.province_name,
	l.location_type,
	ws.number_of_people_served,
	v.time_in_queue,
	wp.results
FROM
	visits AS v
JOIN
	location AS l
ON 
	v.location_id = l.location_id
JOIN
	water_source AS ws
ON
	v.source_id = ws.source_id
LEFT JOIN
	well_pollution AS wp
ON
	v.source_id = wp.source_id
WHERE 
	v.visit_count = 1
;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

++
||
++
++

The last analysis
We're building another pivot table! This time, we want to break down our data into provinces or towns and source types. If we understand where
the problems are, and what we need to improve at those locations, we can make an informed decision on where to send our repair teams.

In [47]:
%%sql

WITH province_totals AS 
    (SELECT
        ct.province_name,
        SUM(number_of_people_served)
    FROM
        combined_analysis_table AS ct
    GROUP BY 
        province_name)

SELECT
    ct.province_name,
    
    ROUND((SUM(CASE
     WHEN   
         type_of_water_source = 'river'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS river,
    
    
    ROUND((SUM(CASE
    WHEN   
         type_of_water_source = 'shared_tap'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS shared_tap,
    
    
    ROUND((SUM(CASE
    WHEN     
        type_of_water_source = 'tap_in_home' 
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS tap_in_home,
    
    
     ROUND((SUM(CASE
    WHEN  
          type_of_water_source = 'tap_in_home_broken'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS tap_in_home_broken,
    
    
     ROUND((SUM(CASE
    WHEN     
        type_of_water_source = 'well'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS well
        
FROM 
    combined_analysis_table AS ct
JOIN
    province_totals AS pt
ON
    pt.province_name =ct.province_name
GROUP BY 
      ct.province_name
ORDER BY
	ct.province_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+---------------+-------+------------+-------------+--------------------+------+
| province_name | river | shared_tap | tap_in_home | tap_in_home_broken | well |
+---------------+-------+------------+-------------+--------------------+------+
|     Akatsi    |   5   |     49     |      14     |         10         |  23  |
|     Amanzi    |   3   |     38     |      28     |         24         |  7   |
|    Hawassa    |   4   |     43     |      15     |         15         |  24  |
|    Kilimani   |   8   |     47     |      13     |         12         |  20  |
|     Sokoto    |   21  |     38     |      16     |         10         |  15  |
+---------------+-------+------------+-------------+--------------------+------+

Let's aggregate the data per town now. You might think this is simple, but one little town makes this hard. Recall that there are two towns in Maji Ndogo called Harare. One is in Akatsi, and one is in Kilimani. Amina is another example. So when we just aggregate by town, SQL doesn't distin-guish between the different Harare's, so it combines their results.

To get around that, we have to group by province first, then by town, so that the duplicate towns are distinct because they are in different towns.

In [48]:
%%sql

WITH town_totals AS 
    (SELECT
        ct.province_name,
        ct.town_name,
        SUM(number_of_people_served)
    FROM
        combined_analysis_table AS ct
    GROUP BY 
        province_name,
        town_name)

SELECT
    ct.province_name,
    ct.town_name,
    
    ROUND((SUM(CASE
     WHEN   
         type_of_water_source = 'river'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS river,
    
    
    ROUND((SUM(CASE
    WHEN   
         type_of_water_source = 'shared_tap'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS shared_tap,
    
    
    ROUND((SUM(CASE
    WHEN     
        type_of_water_source = 'tap_in_home' 
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS tap_in_home,
    
    
     ROUND((SUM(CASE
    WHEN  
          type_of_water_source = 'tap_in_home_broken'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS tap_in_home_broken,
    
    
     ROUND((SUM(CASE
    WHEN     
        type_of_water_source = 'well'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS well
        
FROM 
    combined_analysis_table AS ct
JOIN
    town_totals AS tt
ON
    tt.province_name =ct.province_name
AND
    tt.town_name = ct.town_name
GROUP BY 
      ct.province_name,
      ct.town_name
ORDER BY
	ct.town_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

31 rows affected.

+---------------+-----------+-------+------------+-------------+--------------------+------+
| province_name | town_name | river | shared_tap | tap_in_home | tap_in_home_broken | well |
+---------------+-----------+-------+------------+-------------+--------------------+------+
|     Amanzi    |  Abidjan  |   2   |     53     |      22     |         19         |  4   |
|    Kilimani   |   Amara   |   8   |     22     |      25     |         16         |  30  |
|     Amanzi    |   Amina   |   8   |     24     |      3      |         56         |  9   |
|    Hawassa    |   Amina   |   2   |     14     |      19     |         24         |  42  |
|     Amanzi    |   Asmara  |   3   |     49     |      24     |         20         |  4   |
|     Sokoto    |   Bahari  |   21  |     11     |      36     |         12         |  20  |
|     Amanzi    |   Bello   |   3   |     53     |      20     |         22         |  3   |
|     Sokoto    |   Cheche  |   19  |     16     |      35     |         12         |  18  |
|     Amanzi    |   Dahabu  |   3   |     37     |      55     |         1          |  4   |
|    Hawassa    |    Deka   |   3   |     16     |      23     |         21         |  38  |
+---------------+-----------+-------+------------+-------------+--------------------+------+
Truncated to displaylimit of 10.

Before we jump into the data, let's store it as a temporary table first, so it is quicker to access.

Temporary tables in SQL are a nice way to store the results of a complex query. We run the query once, and the results are stored as a table. The
catch? If you close the database connection, it deletes the table, so you have to run it again each time you start working in MySQL. The benefit is
that we can use the table to do more calculations, without running the whole query each time.

To do it, add this to the start of your query:
CREATE TEMPORARY TABLE town_aggregated_water_access
WITH town_totals AS

In [6]:
%%sql
DROP TEMPORARY TABLE IF EXISTS town_aggregated_water_access;
CREATE TEMPORARY TABLE town_aggregated_water_access 
WITH town_totals AS 
    (SELECT
        ct.province_name,
        ct.town_name,
        SUM(number_of_people_served)
    FROM
        combined_analysis_table AS ct
    GROUP BY 
        province_name,
        town_name)

SELECT
    ct.province_name,
    ct.town_name,
    
    ROUND((SUM(CASE
     WHEN   
         type_of_water_source = 'river'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS river,
    
    
    ROUND((SUM(CASE
    WHEN   
         type_of_water_source = 'shared_tap'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS shared_tap,
    
    
    ROUND((SUM(CASE
    WHEN     
        type_of_water_source = 'tap_in_home' 
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS tap_in_home,
    
    
     ROUND((SUM(CASE
    WHEN  
          type_of_water_source = 'tap_in_home_broken'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS tap_in_home_broken,
    
    
     ROUND((SUM(CASE
    WHEN     
        type_of_water_source = 'well'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS well
        
FROM 
    combined_analysis_table AS ct
JOIN
    town_totals AS tt
ON
    tt.province_name =ct.province_name
AND
    tt.town_name = ct.town_name
GROUP BY 
      ct.province_name,
      ct.town_name
ORDER BY
	ct.town_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

31 rows affected.

++
||
++
++

In [10]:
%%sql
SELECT
	province_name,
    town_name,
    tap_in_home + tap_in_home_broken AS Taps
    
FROM
	town_aggregated_water_access
ORDER BY 
Taps DESC;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

31 rows affected.

+---------------+-----------+------+
| province_name | town_name | Taps |
+---------------+-----------+------+
|     Amanzi    |   Rural   |  60  |
|     Amanzi    |   Amina   |  59  |
|     Akatsi    |  Kintampo |  57  |
|     Amanzi    |   Dahabu  |  56  |
|     Akatsi    |   Lusaka  |  56  |
|     Akatsi    |   Harare  |  55  |
|     Sokoto    |   Ilanga  |  51  |
|    Kilimani   |   Harare  |  50  |
|     Sokoto    |   Bahari  |  48  |
|     Sokoto    |  Majengo  |  48  |
+---------------+-----------+------+
Truncated to displaylimit of 10.

There are still many gems hidden in this table. For example, which town has the highest ratio of people who have taps, but have no running water?
Running this:

In [52]:
%%sql
SELECT
    province_name,
    town_name,
    ROUND(tap_in_home_broken / (tap_in_home_broken + tap_in_home) *100,0) AS Pct_broken_taps

FROM
    town_aggregated_water_access;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

31 rows affected.

+---------------+-----------+-----------------+
| province_name | town_name | Pct_broken_taps |
+---------------+-----------+-----------------+
|     Amanzi    |  Abidjan  |        46       |
|    Kilimani   |   Amara   |        39       |
|     Amanzi    |   Amina   |        95       |
|    Hawassa    |   Amina   |        56       |
|     Amanzi    |   Asmara  |        45       |
|     Sokoto    |   Bahari  |        25       |
|     Amanzi    |   Bello   |        52       |
|     Sokoto    |   Cheche  |        26       |
|     Amanzi    |   Dahabu  |        2        |
|    Hawassa    |    Deka   |        48       |
+---------------+-----------+-----------------+
Truncated to displaylimit of 10.

Our final goal is to implement our plan in the database.
We have a plan to improve the water access in Maji Ndogo, so we need to think it through, and as our final task, create a table where our teams
have the information they need to fix, upgrade and repair water sources. They will need the addresses of the places they should visit (street
address, town, province), the type of water source they should improve, and what should be done to improve it.
We should also make space for them in the database to update us on their progress. We need to know if the repair is complete, and the date it was
completed, and give them space to upgrade the sources. Let's call this table Project_progress.

In [34]:
%%sql
CREATE TABLE Project_progress (
Project_id SERIAL PRIMARY KEY,
/* Project_id  Unique key for sources in case we visit the same

source more than once in the future.

*/
source_id VARCHAR(20) NOT NULL REFERENCES water_source(source_id) ON DELETE CASCADE ON UPDATE CASCADE,
/* source_id  Each of the sources we want to improve should exist,

and should refer to the source table. This ensures data integrity.

*/
Address VARCHAR(50),  Street address
Town VARCHAR(30),
Province VARCHAR(30),
Source_type VARCHAR(50),
Improvement VARCHAR(50),  What the engineers should do at that place
Source_status VARCHAR(50) DEFAULT 'Backlog' CHECK (Source_status IN ('Backlog', 'In progress', 'Complete')),
/* Source_status  We want to limit the type of information engineers can give us, so we
limit Source_status.
 By DEFAULT all projects are in the "Backlog" which is like a TODO list.
 CHECK() ensures only those three options will be accepted. This helps to maintain clean data.
*/
Date_of_completion DATE,  Engineers will add this the day the source has been upgraded.
Comments TEXT  Engineers can leave comments. We use a TEXT type that has no limit on char length
);

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Street address\nTown VARCHAR(30),\nProvince VARCHAR(30),\nSource_type VARCHAR(50),\n' at line 14")
[SQL: CREATE TABLE Project_progress (
Project_id SERIAL PRIMARY KEY,
/* Project_id  Unique key for sources in case we visit the same

source more than once in the future.

*/
source_id VARCHAR(20) NOT NULL REFERENCES water_source(source_id) ON DELETE CASCADE ON UPDATE CASCADE,
/* source_id  Each of the sources we want to improve should exist,

and should refer to the source table. This ensures data integrity.

*/
Address VARCHAR(50),  Street address
Town VARCHAR(30),
Province VARCHAR(30),
Source_type VARCHAR(50),
Improvement VARCHAR(50),  What the engineers should do at that place
Source_status VARCHAR(50) DEFAULT 'Backlog' CHECK (Source_status IN ('Backlog', 'In progress', 'Complete')),
/* Source_status  We want to limit the type of information engineers can give us, so we
limit Source_status.
 By DEFAULT all projects are in the "Backlog" which is like a TODO list.
 CHECK() ensures only those three options will be accepted. This helps to maintain clean data.
*/
Date_of_completion DATE,  Engineers will add this the day the source has been upgraded.
Comments TEXT  Engineers can leave comments. We use a TEXT type that has no limit on char length
);]
(Background on this error at: http://sqlalche.me/e/14/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [91]:
%%sql
DROP TABLE IF EXISTS Project_progress;
CREATE TABLE Project_progress (
Project_id SERIAL PRIMARY KEY,
source_id VARCHAR(20) NOT NULL REFERENCES water_source(source_id) ON DELETE CASCADE ON UPDATE CASCADE,
Address VARCHAR(50),
Town VARCHAR(30),
Province VARCHAR(30),
Source_type VARCHAR(50),
Improvement VARCHAR(50),
Source_status VARCHAR(50) DEFAULT 'Backlog' CHECK (Source_status IN ('Backlog', 'In progress', 'Complete')),
Date_of_completion DATE,
Comments TEXT
);

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

++
||
++
++

At a high level, the Improvements are as follows:
1. Rivers  Drill wells
2. wells: if the well is contaminated with chemicals  Install RO filter
3. wells: if the well is contaminated with biological contaminants  Install UV and RO filter
4. shared_taps: if the queue is longer than 30 min (30 min and above)  Install X taps nearby where X number of taps is calculated using X
= FLOOR(time_in_queue / 30).
5. tap_in_home_broken  Diagnose local infrastructure

To make this simpler, we can start with this query:

In [53]:
%%sql

SELECT
    location.address,
    location.town_name,
    location.province_name,
    water_source.source_id,
    water_source.type_of_water_source,
    well_pollution.results
FROM
    water_source
LEFT JOIN
    well_pollution 
ON 
    water_source.source_id = well_pollution.source_id
INNER JOIN
    visits 
ON 
    water_source.source_id = visits.source_id
INNER JOIN
    location 
ON 
    location.location_id = visits.location_id;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

60146 rows affected.

+----------------------+-----------+---------------+--------------+----------------------+--------------------------+
|       address        | town_name | province_name |  source_id   | type_of_water_source |         results          |
+----------------------+-----------+---------------+--------------+----------------------+--------------------------+
|  2 Addis Ababa Road  |   Harare  |     Akatsi    | AkHa00000224 |     tap_in_home      |           None           |
| 10 Addis Ababa Road  |   Harare  |     Akatsi    | AkHa00001224 |  tap_in_home_broken  |           None           |
|  9 Addis Ababa Road  |   Harare  |     Akatsi    | AkHa00002224 |  tap_in_home_broken  |           None           |
| 139 Addis Ababa Road |   Harare  |     Akatsi    | AkHa00003224 |         well         |          Clean           |
| 17 Addis Ababa Road  |   Harare  |     Akatsi    | AkHa00004224 |  tap_in_home_broken  |           None           |
| 125 Addis Ababa Road |   Harare  |     Akatsi    | AkHa00005224 |     tap_in_home      |           None           |
| 98 Addis Ababa Road  |   Harare  |     Akatsi    | AkHa00006224 |     tap_in_home      |           None           |
| 21 Addis Ababa Road  |   Harare  |     Akatsi    | AkHa00007224 |     tap_in_home      |           None           |
| 11 Addis Ababa Road  |   Harare  |     Akatsi    | AkHa00008224 |         well         |          Clean           |
|  6 Addis Ababa Road  |   Harare  |     Akatsi    | AkHa00009224 |         well         | Contaminated: Biological |
+----------------------+-----------+---------------+--------------+----------------------+--------------------------+
Truncated to displaylimit of 10.

It joins the location, visits, and well_pollution tables to the water_source table. Since well_pollution only has data for wells, we have
to join those records to the water_source table with a LEFT JOIN and we used visits to link the various id's together.

First things first, let's filter the data to only contain sources we want to improve by thinking through the logic first.
1. Only records with visit_count = 1 are allowed.
2. Any of the following rows can be included:
a. Where shared taps have queue times over 30 min.
b. Only wells that are contaminated are allowed -- So we exclude wells that are Clean
c. Include any river and tap_in_home_broken sources.

In [92]:
%%sql
SELECT
    location.address,
    location.town_name,
    location.province_name,
    water_source.source_id,
    water_source.type_of_water_source,
    well_pollution.results
FROM
    water_source
LEFT JOIN
    well_pollution 
ON 
    water_source.source_id = well_pollution.source_id
INNER JOIN
    visits 
ON 
    water_source.source_id = visits.source_id
INNER JOIN
    location 
ON 
    location.location_id = visits.location_id
WHERE
    visits.visit_count = 1
AND (
    well_pollution.results != 'Clean'
OR
    water_source.type_of_water_source IN('river', 'tap_in_home_broken')
OR
    (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
    );

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25398 rows affected.

+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+
|         address          | town_name | province_name |  source_id   | type_of_water_source |         results          |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+
| 36 Pwani Mchangani Road  |   Ilanga  |     Sokoto    | SoIl32582224 |        river         |           None           |
|  129 Ziwa La Kioo Road   |   Rural   |    Kilimani   | KiRu28935224 |         well         | Contaminated: Biological |
|  18 Mlima Tazama Avenue  |   Rural   |    Hawassa    | HaRu19752224 |      shared_tap      |           None           |
|    100 Mogadishu Road    |   Lusaka  |     Akatsi    | AkLu01628224 |         well         | Contaminated: Biological |
| 26 Bahari Ya Faraja Road |   Rural   |    Kilimani   | KiRu29315224 |        river         |           None           |
|   104 Kenyatta Street    |   Rural   |     Akatsi    | AkRu05234224 |  tap_in_home_broken  |           None           |
|     117 Kampala Road     |  Zanzibar |    Hawassa    | HaZa21742224 |         well         |  Contaminated: Chemical  |
|      55 Fennec Way       |   Rural   |     Sokoto    | SoRu35008224 |      shared_tap      |           None           |
|     52 Moroni Avenue     |   Rural   |     Sokoto    | SoRu35703224 |         well         | Contaminated: Biological |
|   51 Addis Ababa Road    |   Harare  |     Akatsi    | AkHa00070224 |         well         |  Contaminated: Chemical  |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+
Truncated to displaylimit of 10.

Step 1: Wells
Let's start with wells. Depending on whether they are chemically contaminated, or biologically contaminated  we'll decide on the interventions.

In [93]:
%%sql 
SELECT
location.address,
location.town_name,
location.province_name,
water_source.source_id,
water_source.type_of_water_source,
well_pollution.results,
(CASE
    WHEN
        well_pollution.results LIKE '%Contaminated: Chemical%'
    THEN
        'Install RO filter'
		WHEN
			well_pollution.results LIKE '%Contaminated: Biological%'
		THEN
			'Install UV filter'
			
           
    ELSE NULL
    END) AS Improvement

FROM
water_source
LEFT JOIN
well_pollution ON water_source.source_id = well_pollution.source_id
INNER JOIN
visits ON water_source.source_id = visits.source_id
INNER JOIN
location ON location.location_id = visits.location_id
WHERE
    visits.visit_count = 1
AND (
    well_pollution.results  LIKE '%Contaminated%'
    
OR
    water_source.type_of_water_source IN('river', 'tap_in_home_broken')
OR
    (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
    )

;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25398 rows affected.

+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-------------------+
|         address          | town_name | province_name |  source_id   | type_of_water_source |         results          |    Improvement    |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-------------------+
| 36 Pwani Mchangani Road  |   Ilanga  |     Sokoto    | SoIl32582224 |        river         |           None           |        None       |
|  129 Ziwa La Kioo Road   |   Rural   |    Kilimani   | KiRu28935224 |         well         | Contaminated: Biological | Install UV filter |
|  18 Mlima Tazama Avenue  |   Rural   |    Hawassa    | HaRu19752224 |      shared_tap      |           None           |        None       |
|    100 Mogadishu Road    |   Lusaka  |     Akatsi    | AkLu01628224 |         well         | Contaminated: Biological | Install UV filter |
| 26 Bahari Ya Faraja Road |   Rural   |    Kilimani   | KiRu29315224 |        river         |           None           |        None       |
|   104 Kenyatta Street    |   Rural   |     Akatsi    | AkRu05234224 |  tap_in_home_broken  |           None           |        None       |
|     117 Kampala Road     |  Zanzibar |    Hawassa    | HaZa21742224 |         well         |  Contaminated: Chemical  | Install RO filter |
|      55 Fennec Way       |   Rural   |     Sokoto    | SoRu35008224 |      shared_tap      |           None           |        None       |
|     52 Moroni Avenue     |   Rural   |     Sokoto    | SoRu35703224 |         well         | Contaminated: Biological | Install UV filter |
|   51 Addis Ababa Road    |   Harare  |     Akatsi    | AkHa00070224 |         well         |  Contaminated: Chemical  | Install RO filter |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-------------------+
Truncated to displaylimit of 10.

Step 2: Rivers
Now for the rivers. We upgrade those by drilling new wells nearby.

Add Drill well to the Improvements column for all river sources.

In [94]:
%%sql

SELECT
location.address,
location.town_name,
location.province_name,
water_source.source_id,
water_source.type_of_water_source,
well_pollution.results,
(CASE
    WHEN
        well_pollution.results LIKE '%Contaminated: Chemical%'
    THEN
        'Install RO filter'
		WHEN
			well_pollution.results LIKE '%Contaminated: Biological%'
		THEN
			'Install UV filter'
			
            WHEN
				type_of_water_source = 'river'
			THEN
				'Drill well'
                
             
    ELSE NULL
    END) AS Improvement

FROM
water_source
LEFT JOIN
well_pollution ON water_source.source_id = well_pollution.source_id
INNER JOIN
visits ON water_source.source_id = visits.source_id
INNER JOIN
location ON location.location_id = visits.location_id
WHERE
    visits.visit_count = 1
AND (
    well_pollution.results  LIKE '%Contaminated%'
    
OR
    water_source.type_of_water_source IN('river', 'tap_in_home_broken')
OR
    (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
    )

;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25398 rows affected.

+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-------------------+
|         address          | town_name | province_name |  source_id   | type_of_water_source |         results          |    Improvement    |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-------------------+
| 36 Pwani Mchangani Road  |   Ilanga  |     Sokoto    | SoIl32582224 |        river         |           None           |     Drill well    |
|  129 Ziwa La Kioo Road   |   Rural   |    Kilimani   | KiRu28935224 |         well         | Contaminated: Biological | Install UV filter |
|  18 Mlima Tazama Avenue  |   Rural   |    Hawassa    | HaRu19752224 |      shared_tap      |           None           |        None       |
|    100 Mogadishu Road    |   Lusaka  |     Akatsi    | AkLu01628224 |         well         | Contaminated: Biological | Install UV filter |
| 26 Bahari Ya Faraja Road |   Rural   |    Kilimani   | KiRu29315224 |        river         |           None           |     Drill well    |
|   104 Kenyatta Street    |   Rural   |     Akatsi    | AkRu05234224 |  tap_in_home_broken  |           None           |        None       |
|     117 Kampala Road     |  Zanzibar |    Hawassa    | HaZa21742224 |         well         |  Contaminated: Chemical  | Install RO filter |
|      55 Fennec Way       |   Rural   |     Sokoto    | SoRu35008224 |      shared_tap      |           None           |        None       |
|     52 Moroni Avenue     |   Rural   |     Sokoto    | SoRu35703224 |         well         | Contaminated: Biological | Install UV filter |
|   51 Addis Ababa Road    |   Harare  |     Akatsi    | AkHa00070224 |         well         |  Contaminated: Chemical  | Install RO filter |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-------------------+
Truncated to displaylimit of 10.

Step 3: Shared taps
Next up, shared taps. We need to install one tap near each shared tap for every 30 min of queue time.
This is my logic:
CASE
...
WHEN type_of_water_source = ... AND ... THEN CONCAT("Install ", FLOOR(...), " taps nearby")
ELSE NULL
I am using FLOOR() here because I want to round the calculation down. Say the queue time is 45 min. The result of 45/30 = 1.5, which could
round up to 2. We only want to install a second tap if the queue is > 60 min. Using FLOOR() will round down everything below 59 mins to one extra
tap, and if the queue is 60 min, we will install two taps, and so on.

In [8]:
%%sql

SELECT
location.address,
location.town_name,
location.province_name,
water_source.source_id,
water_source.type_of_water_source,
well_pollution.results,
(CASE
    WHEN
        well_pollution.results LIKE '%Contaminated: Chemical%'
    THEN
        'Install RO filter'
		WHEN
			well_pollution.results LIKE '%Contaminated: Biological%'
		THEN
			'Install UV filter'
			
            WHEN
				type_of_water_source = 'river'
			THEN
				'Drill well'
                
                WHEN 
					type_of_water_source = 'shared_tap' AND time_in_queue >= 30 
				THEN 
                CONCAT("Install ", FLOOR(time_in_queue/30), " taps nearby")
                

    ELSE NULL
    END) AS Improvement

FROM
water_source
LEFT JOIN
well_pollution ON water_source.source_id = well_pollution.source_id
INNER JOIN
visits ON water_source.source_id = visits.source_id
INNER JOIN
location ON location.location_id = visits.location_id
WHERE
    visits.visit_count = 1
AND (
    well_pollution.results  LIKE '%Contaminated%'
    
OR
    water_source.type_of_water_source IN('river', 'tap_in_home_broken')
OR
    (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
    )

;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25398 rows affected.

+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-----------------------+
|         address          | town_name | province_name |  source_id   | type_of_water_source |         results          |      Improvement      |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-----------------------+
| 36 Pwani Mchangani Road  |   Ilanga  |     Sokoto    | SoIl32582224 |        river         |           None           |       Drill well      |
|  129 Ziwa La Kioo Road   |   Rural   |    Kilimani   | KiRu28935224 |         well         | Contaminated: Biological |   Install UV filter   |
|  18 Mlima Tazama Avenue  |   Rural   |    Hawassa    | HaRu19752224 |      shared_tap      |           None           | Install 2 taps nearby |
|    100 Mogadishu Road    |   Lusaka  |     Akatsi    | AkLu01628224 |         well         | Contaminated: Biological |   Install UV filter   |
| 26 Bahari Ya Faraja Road |   Rural   |    Kilimani   | KiRu29315224 |        river         |           None           |       Drill well      |
|   104 Kenyatta Street    |   Rural   |     Akatsi    | AkRu05234224 |  tap_in_home_broken  |           None           |          None         |
|     117 Kampala Road     |  Zanzibar |    Hawassa    | HaZa21742224 |         well         |  Contaminated: Chemical  |   Install RO filter   |
|      55 Fennec Way       |   Rural   |     Sokoto    | SoRu35008224 |      shared_tap      |           None           | Install 8 taps nearby |
|     52 Moroni Avenue     |   Rural   |     Sokoto    | SoRu35703224 |         well         | Contaminated: Biological |   Install UV filter   |
|   51 Addis Ababa Road    |   Harare  |     Akatsi    | AkHa00070224 |         well         |  Contaminated: Chemical  |   Install RO filter   |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-----------------------+
Truncated to displaylimit of 10.

Step 4: In-home taps

Lastly, let's look at in-home taps, specifically broken ones. These taps indicate broken infrastructure. So these need to be inspected by our engi-
neers.
Add a case statement to our query updating broken taps to Diagnose local infrastructure.

In [10]:
%%sql

SELECT
location.address,
location.town_name,
location.province_name,
water_source.source_id,
water_source.type_of_water_source,
well_pollution.results,
(CASE
    WHEN
        well_pollution.results LIKE '%Contaminated: Chemical%'
    THEN
        'Install RO filter'
		WHEN
			well_pollution.results LIKE '%Contaminated: Biological%'
		THEN
			'Install UV filter'
			
            WHEN
				type_of_water_source = 'river'
			THEN
				'Drill well'
                
                WHEN 
					type_of_water_source = 'shared_tap' AND time_in_queue >= 30 
				THEN 
                CONCAT("Install ", FLOOR(time_in_queue/30), " taps nearby")
                
					WHEN
						type_of_water_source = 'tap_in_home_broken'
					THEN
                        'Diagnose local infrastructure'
    ELSE NULL
    END) AS Improvement

FROM
water_source
LEFT JOIN
well_pollution ON water_source.source_id = well_pollution.source_id
INNER JOIN
visits ON water_source.source_id = visits.source_id
INNER JOIN
location ON location.location_id = visits.location_id
WHERE
    visits.visit_count = 1
AND (
    well_pollution.results != 'Clean'
    
OR
    water_source.type_of_water_source IN('river', 'tap_in_home_broken')
OR
    (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
    )

;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25398 rows affected.

+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-------------------------------+
|         address          | town_name | province_name |  source_id   | type_of_water_source |         results          |          Improvement          |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-------------------------------+
| 36 Pwani Mchangani Road  |   Ilanga  |     Sokoto    | SoIl32582224 |        river         |           None           |           Drill well          |
|  129 Ziwa La Kioo Road   |   Rural   |    Kilimani   | KiRu28935224 |         well         | Contaminated: Biological |       Install UV filter       |
|  18 Mlima Tazama Avenue  |   Rural   |    Hawassa    | HaRu19752224 |      shared_tap      |           None           |     Install 2 taps nearby     |
|    100 Mogadishu Road    |   Lusaka  |     Akatsi    | AkLu01628224 |         well         | Contaminated: Biological |       Install UV filter       |
| 26 Bahari Ya Faraja Road |   Rural   |    Kilimani   | KiRu29315224 |        river         |           None           |           Drill well          |
|   104 Kenyatta Street    |   Rural   |     Akatsi    | AkRu05234224 |  tap_in_home_broken  |           None           | Diagnose local infrastructure |
|     117 Kampala Road     |  Zanzibar |    Hawassa    | HaZa21742224 |         well         |  Contaminated: Chemical  |       Install RO filter       |
|      55 Fennec Way       |   Rural   |     Sokoto    | SoRu35008224 |      shared_tap      |           None           |     Install 8 taps nearby     |
|     52 Moroni Avenue     |   Rural   |     Sokoto    | SoRu35703224 |         well         | Contaminated: Biological |       Install UV filter       |
|   51 Addis Ababa Road    |   Harare  |     Akatsi    | AkHa00070224 |         well         |  Contaminated: Chemical  |       Install RO filter       |
+--------------------------+-----------+---------------+--------------+----------------------+--------------------------+-------------------------------+
Truncated to displaylimit of 10.

Step 6: Add the data to Project_progress


Now that we have the data we want to provide to engineers, populate the Project_progress table with the results of our query.
HINT: Make sure the columns in the query line up with the columns in Project_progress. If you make any mistakes, just use DROP TABLE
project_progress, and run your query again.

In [97]:
%%sql

INSERT INTO project_progress(
	source_id,
    address,
    Town,
    Province,
    Source_type,
    Improvement
    )
    SELECT
water_source.source_id,
location.address,
location.town_name,
location.province_name,
water_source.type_of_water_source,
(CASE
    WHEN
        well_pollution.results LIKE '%Contaminated: Chemical%'
    THEN
        'Install RO filter'
		WHEN
			well_pollution.results LIKE '%Contaminated: Biological%'
		THEN
			'Install UV filter'
			
            WHEN
				type_of_water_source = 'river'
			THEN
				'Drill well'
                
                WHEN 
					type_of_water_source = 'shared_tap' AND time_in_queue > 30 
				THEN 
                CONCAT("Install ", FLOOR(time_in_queue/30), " taps nearby")
                
					WHEN
						type_of_water_source = 'tap_in_home_broken'
					THEN
                        'Diagnose local infrastructure'
    ELSE NULL
    END) AS Improvement

FROM
water_source
LEFT JOIN
well_pollution ON water_source.source_id = well_pollution.source_id
INNER JOIN
visits ON water_source.source_id = visits.source_id
INNER JOIN
location ON location.location_id = visits.location_id
WHERE
    visits.visit_count = 1
AND (
    well_pollution.results  LIKE '%Contaminated%'
    
OR
    water_source.type_of_water_source IN('river', 'tap_in_home_broken')
OR
    (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30)
    )

;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25398 rows affected.

++
||
++
++

In [98]:
%%sql
SELECT
    *
FROM
    project_progress;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25398 rows affected.

+------------+--------------+--------------------------+----------+----------+--------------------+-------------------------------+---------------+--------------------+----------+
| Project_id |  source_id   |         Address          |   Town   | Province |    Source_type     |          Improvement          | Source_status | Date_of_completion | Comments |
+------------+--------------+--------------------------+----------+----------+--------------------+-------------------------------+---------------+--------------------+----------+
|     1      | SoIl32582224 | 36 Pwani Mchangani Road  |  Ilanga  |  Sokoto  |       river        |           Drill well          |    Backlog    |        None        |   None   |
|     2      | KiRu28935224 |  129 Ziwa La Kioo Road   |  Rural   | Kilimani |        well        |       Install UV filter       |    Backlog    |        None        |   None   |
|     3      | HaRu19752224 |  18 Mlima Tazama Avenue  |  Rural   | Hawassa  |     shared_tap     |     Install 2 taps nearby     |    Backlog    |        None        |   None   |
|     4      | AkLu01628224 |    100 Mogadishu Road    |  Lusaka  |  Akatsi  |        well        |       Install UV filter       |    Backlog    |        None        |   None   |
|     5      | KiRu29315224 | 26 Bahari Ya Faraja Road |  Rural   | Kilimani |       river        |           Drill well          |    Backlog    |        None        |   None   |
|     6      | AkRu05234224 |   104 Kenyatta Street    |  Rural   |  Akatsi  | tap_in_home_broken | Diagnose local infrastructure |    Backlog    |        None        |   None   |
|     7      | HaZa21742224 |     117 Kampala Road     | Zanzibar | Hawassa  |        well        |       Install RO filter       |    Backlog    |        None        |   None   |
|     8      | SoRu35008224 |      55 Fennec Way       |  Rural   |  Sokoto  |     shared_tap     |     Install 8 taps nearby     |    Backlog    |        None        |   None   |
|     9      | SoRu35703224 |     52 Moroni Avenue     |  Rural   |  Sokoto  |        well        |       Install UV filter       |    Backlog    |        None        |   None   |
|     10     | AkHa00070224 |   51 Addis Ababa Road    |  Harare  |  Akatsi  |        well        |       Install RO filter       |    Backlog    |        None        |   None   |
+------------+--------------+--------------------------+----------+----------+--------------------+-------------------------------+---------------+--------------------+----------+
Truncated to displaylimit of 10.

Q1. How many UV filters do we have to install in total?

In [81]:
%%sql
SELECT
    COUNT(*)
FROM
    project_progress
WHERE
    Improvement ='Install UV filter'
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|   5374   |
+----------+

Q2. If you were to modify the query to include the percentage of people served by only dirty wells as a water source, which part of the town_aggregated_water_access CTE would you need to change?

In [87]:
%%sql

WITH town_totals AS 
    (SELECT
        ct.province_name,
        ct.town_name,
        SUM(number_of_people_served)
    FROM
        combined_analysis_table AS ct
    GROUP BY 
        province_name,
        town_name)

SELECT
    ct.province_name,
    ct.town_name,
    
   
    
    ROUND((SUM(CASE
    WHEN     
        type_of_water_source = 'tap_in_home' 
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS tap_in_home,
    
    
     ROUND((SUM(CASE
    WHEN  
          type_of_water_source = 'tap_in_home_broken'
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS tap_in_home_broken,
    
    
     ROUND((SUM(CASE
    WHEN     
        type_of_water_source = 'well' AND ct.results != "Clean" 
    THEN 
        number_of_people_served
    ELSE 
        0
    END)/SUM(number_of_people_served))*100,0) AS well
        
FROM 
    combined_analysis_table AS ct
JOIN
    town_totals AS tt
ON
    tt.province_name =ct.province_name
AND
    tt.town_name = ct.town_name
GROUP BY 
      ct.province_name,
      ct.town_name
ORDER BY
	ct.town_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

31 rows affected.

+---------------+-----------+-------------+--------------------+------+
| province_name | town_name | tap_in_home | tap_in_home_broken | well |
+---------------+-----------+-------------+--------------------+------+
|     Amanzi    |  Abidjan  |      22     |         19         |  3   |
|    Kilimani   |   Amara   |      25     |         16         |  21  |
|     Amanzi    |   Amina   |      3      |         56         |  7   |
|    Hawassa    |   Amina   |      19     |         24         |  39  |
|     Amanzi    |   Asmara  |      24     |         20         |  3   |
|     Sokoto    |   Bahari  |      36     |         12         |  13  |
|     Amanzi    |   Bello   |      20     |         22         |  2   |
|     Sokoto    |   Cheche  |      35     |         12         |  12  |
|     Amanzi    |   Dahabu  |      55     |         1          |  3   |
|    Hawassa    |    Deka   |      23     |         21         |  36  |
+---------------+-----------+-------------+--------------------+------+
Truncated to displaylimit of 10.

Q3.Which province should we send drilling equipment to first?

In [88]:
%%sql
SELECT
    *
FROM
    project_progress

LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+------------+--------------+--------------------------+--------+----------+-------------+-----------------------+---------------+--------------------+----------+
| Project_id |  source_id   |         Address          |  Town  | Province | Source_type |      Improvement      | Source_status | Date_of_completion | Comments |
+------------+--------------+--------------------------+--------+----------+-------------+-----------------------+---------------+--------------------+----------+
|     1      | SoIl32582224 | 36 Pwani Mchangani Road  | Ilanga |  Sokoto  |    river    |       Drill well      |    Backlog    |        None        |   None   |
|     2      | KiRu28935224 |  129 Ziwa La Kioo Road   | Rural  | Kilimani |     well    |   Install UV filter   |    Backlog    |        None        |   None   |
|     3      | HaRu19752224 |  18 Mlima Tazama Avenue  | Rural  | Hawassa  |  shared_tap | Install 2 taps nearby |    Backlog    |        None        |   None   |
|     4      | AkLu01628224 |    100 Mogadishu Road    | Lusaka |  Akatsi  |     well    |   Install UV filter   |    Backlog    |        None        |   None   |
|     5      | KiRu29315224 | 26 Bahari Ya Faraja Road | Rural  | Kilimani |    river    |       Drill well      |    Backlog    |        None        |   None   |
+------------+--------------+--------------------------+--------+----------+-------------+-----------------------+---------------+--------------------+----------+